<h2>My Character</h2> <br>
<p>Name: <%= @character.character_name %></p>
<%# class features should show on %>
<p>Class: <%= @character.character_class %></p>
<p>Race: <%= @character.race %></p>
<p>Background: <%= @character.background %></p>
<p>Alignment: <%= @character.alignment %></p> <br>
<p>Strength: <%= @character.strength %></p>
<p>Strength Modifyer: <%= @character.strength_modifyer %></p> <br>


